@import '../styles/theme.scss';
@import '../styles/font-awesome.min.css';


.cell{	    
    font-family: $font-text;    
    text-align:center;
    width: 100%;

    -webkit-transition: background-color $hover-delay, font-size $hover-delay;
    transition: background-color $hover-delay, font-size $hover-delay;
    
}

.table-header-cell{ 
    @extend .cell;
    background-color: $color-primary;   
    color: $color-light;   
    font-size: $font-size-m;    
    cursor:move;
    height:40px;
    padding:10px 0;
    display:table;
    width:100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.table-header-cell:hover, .table-header-cell:active{
    background-color: $color-primary-hover;
    display:table;
    width:100%;
}

.sort-text{
    cursor:pointer;   
    display: table-cell;
    vertical-align: middle;
    padding-right:9px;
}

.fa-sort{
    margin-top:2px;
    margin-left:5px;
    position:absolute;
}

.fa-sort-asc{
    margin-top:4px;
    margin-left:5px;
    position:absolute;
}

.fa-sort-desc{
    margin-top:-1px;
    margin-left:5px;
    position:absolute;
}



.sort-text:hover, .sort-text:active{
    font-size:$font-size-l;
}

.table-cell{
    @extend .cell;
    color: $color-dark;
    height: 35px;
    font-size: $font-size-s;
    padding:10px 0;
    display:table;
    width:100%;
}


.cell-text{
     display: table-cell;
    vertical-align: middle;
    width:100%;
    text-overflow: ellipsis;
    word-break:keep-all;
}
.isEditing{
    padding:0px;
}


.clickable{
    cursor:pointer;
}

.selected{
    background: $color-secondary;
    color: $color-light;
}



input{
    width:100%;
    height:100%;
    border: 1px solid $color-primary;
    box-shadow: inset 0px 0px 5px $color-primary;
    padding:3px;
    margin:0px;
    box-sizing:border-box;
    text-align:center;
}

.btn{
    width:90%;
    text-align:center;
}
