@import '../styles/theme.scss';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

.cell{	    
    font-family: $font-text;    
    text-align:center;
    width: 100%;

    -webkit-transition: background-color $hover-delay, font-size $hover-delay;
    transition: background-color $hover-delay, font-size $hover-delay;
    
}

.table-header-cell{ 
    @extend .cell;
    background-color: $color-primary;   
    color: $color-light;   
    font-size: $font-size-m;    
    cursor:move;
    height:40px;
    padding:10px 0;
    display:table;
    width:100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.table-header-cell:hover, .table-header-cell:active{
    background-color: $color-primary-hover;
    display:table;
    width:100%;
}

.sort-text{
    cursor:pointer;   
    display: table-cell;
    vertical-align: middle;
    padding-right:9px;
}

.fa-sort{
    margin-top:2px;
    margin-left:5px;
    position:absolute;
}

.fa-sort-asc{
    margin-top:4px;
    margin-left:5px;
    position:absolute;
}

.fa-sort-desc{
    margin-top:-1px;
    margin-left:5px;
    position:absolute;
}



.sort-text:hover, .sort-text:active{
    font-size:$font-size-l;
}

.table-cell{
    @extend .cell;
    color: $color-dark;
    height: 45px;
    overflow-y:hidden;
    font-size: $font-size-s;
    padding:10px 0;
    display:table;
    width:100%;
    box-sizing:border-box;
}

.isEditing {
  padding: 0px; }

.cell-text{
     display: table-cell;
    vertical-align: middle;
    width:100%;
    text-overflow: ellipsis;
    word-break:keep-all;
        box-sizing:border-box;
}

.clickable{
    cursor:pointer;
}

.selected{
    background: $color-secondary;
    color: $color-light;
}



.btn{
    width:90%;
    text-align:center;
}
